<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UTImportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.apple.itunes.ipa</string>

            <key>UTTypeDescription</key>
            <string>iOS App Package</string>

            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
                <string>public.zip-archive</string>
            </array>

            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>ipa</string>
                </array>
            </dict>
        </dict>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>com.apple.mobileprovision</string>

                <key>UTTypeDescription</key>
                <string>Apple Mobile Provisioning Profile</string>

                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>

                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>mobileprovision</string>
                    </array>
                    <key>public.mime-type</key>
                    <string>application/octet-stream</string>
                </dict>
            </dict>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>com.rsa.pkcs-12</string>

                <key>UTTypeDescription</key>
                <string>PKCS#12 Certificate Bundle</string>

                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>

                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>p12</string>
                        <string>pfx</string>
                    </array>
                    <key>public.mime-type</key>
                    <string>application/x-pkcs12</string>
                </dict>
            </dict>
    </array>
</dict>
</plist>
